{% extends 'base.html.twig' %}

{% block body %}
    <h1>Exportschedule list</h1>
    <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Weekday</th>
                <th>Hour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exportschedule in exportschedules %}
            <tr>
                <td><a href="{{ path('exportschedule_show', { 'id': exportschedule.id }) }}">{{ exportschedule.weekday }}</a></td>
                <td>{{ exportschedule.hour }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('exportschedule_show', { 'id': exportschedule.id }) }}" class="btn btn-info" role="button">show</a>
                        </li>
                        <li>
                            <a href="{{ path('exportschedule_edit', { 'id': exportschedule.id }) }}" class="btn btn-info" role="button">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('exportschedule_new') }}">Create a new entry</a>
        </li>
    </ul>
    </div>
{% endblock %}
