{% extends 'base.html.twig' %}

{% block body %}
    <h1>Exportschedule list</h1>

    <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Grabber</th>
                <th>Importmail</th>
                <th>Weekday</th>
                <th>Hour</th>
                <th>Disabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exportschedule in exportschedules|sort %}
            <tr>
                <td><a href="{{ path('grabber_show', { 'id': exportschedule.grabber.id }) }}">{{exportschedule.grabber}}</a></td>
                <td>{{exportschedule.importmail}}</td>
                <td>{{ exportschedule.weekday }}</td>
                <td>{{ exportschedule.hour }}</td>

                <td>{% if exportschedule.disabled %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('exportschedule_show', { 'id': exportschedule.id }) }}" class="btn btn-info" role="button">show</a>
                        </li>
                        <li>
                            <a href="{{ path('exportschedule_edit', { 'id': exportschedule.id }) }}" class="btn btn-info" role="button">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <ul>
        <li>
            <a href="{{ path('exportschedule_new') }}">Create a new entry</a>
        </li>
    </ul>

{% endblock %}
