{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grabber edit</h1>
    <div class="container">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul class="list-inline">
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a href="{{ path('grabber_index') }}">Back to the list</a>
        </li>
    </ul>
  </div>
{% endblock %}
