<h1>Meters</h1>
<p>{% if meters[0].logindata is defined %} {{ meters[0].logindata }} {% endif %}</p>
<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Importid</th>
                <th>Meteridentifier</th>
                <th>LastAction</th>
                <th>Extraidentifiers</th>
                <th>Disabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meter in meters %}
            <tr {% if lastAction[meter.id] is defined and lastAction[meter.id]|date('Y-m-d') < "now - 7 day"|date('Y-m-d') %}class="warning"{% endif %}>
                <td><a href="{{ path('meter_show', { 'id': meter.id }) }}">{{ meter.importId }}</a></td>
                <td>{{ meter.meteridentifier }}</td>
                <td>{% if lastAction[meter.id] is defined %}{{ lastAction[meter.id]|date("d-m Y") }}{% else %}No data available{% endif %}</td>
                <td>{{ meter.extraidentifiers }}</td>
                <td>{% if meter.disabled %}Yes{% else %}No{% endif %}</td>

                <td>
                  <div class="btn-group btn-group-justified" role="group" aria-label="Actions">
                    <ul class="list-inline">
                      <li>
                          <a href="{{ path('chart_meterdata') }}?meterId={{meter.id}}" class="btn btn-info" role="button">Graph</a>
                      </li>
                        <li>
                            <a href="{{ path('meter_show', { 'id': meter.id }) }}"class="btn btn-info" role="button">show</a>
                        </li>
                        <li>
                            <a href="{{ path('meter_edit', { 'id': meter.id }) }}"class="btn btn-info" role="button">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('meter_grab', { 'id': meter.id }) }}"class="btn btn-danger" role="button">Grab</a>
                        </li>
                    </ul>
                  </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
