{% extends 'base.html.twig' %}

{% block body %}
    <h1>Importmail</h1>
    <div class="container">
    <table class="table table-responsive"> 
        <tbody>
            <tr>
                <th>Importmail</th>
                <td>{{ importmail.importmail }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ importmail.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">

        <li>
            <a href="{{ path('importmail_edit', { 'id': importmail.id }) }}" class="btn btn-info" role="button">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a href="{{ path('importmail_index') }}">Back to the list</a>
        </li>
    </ul>
  </div>
{% endblock %}
