{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact list</h1>

    <div class="container">
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.name }}</a></td>
                <td>{{ contact.mail }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('contact_show', { 'id': contact.id }) }}" class="btn btn-info" role="button">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contact_edit', { 'id': contact.id }) }}" class="btn btn-info" role="button">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contact_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
